.navsearchbox {
    width: 385px;
    background-color: #002147;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-radius: 20px;
    overflow: hidden;
}


.navsearchbox input {
    background-color: #D7D7D7;
    height: 32px;
    width: 350px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    outline: none;
    padding: 5px;
    font-size: 12px;
}
.navsearchbox input:focus {
    border: 1px solid black;
}
.navsearchbox p{
    color: #FFFF;
    font-size: 14px;
    font-weight: 400;
    margin: 0px 10px;
}

.navprofile {
    width: 300px;
    margin-left: 0px;
}
.navprofile p{
    font-size: 12px;
}

.userimage {
    border-radius: 100%;
    width: 40px;
    height: 40px;
    object-fit: cover;
}
.alertvalue {
    padding: 2px;
    min-width: 13px;
    height: 13px;
    background-color: red;
    font-size: 10px;
    border-radius: 100px;
    text-align: center;
    display: flex;
    color: white;
}
.navuserdetails {
    width: 120px;
}

@media screen and (max-width: 700px){
    .navsearchbox {
        width: 100px;
        height: 22px;
        background-color: #002147;
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
        border-radius: 20px;
        overflow: hidden;
    }

    .navprofile {
        width: 200px;
        margin-left: 10px;
    }
    .navprofile{
        font-size: 8px;
    }
    .navprofile p {
        font-size: 8px;
    }


    .navbaralert {
        width: 13px;
    }

    .alertvalue {
        min-width: 0px;
        max-height: 8px;
        font-size: 8px;
        margin-top: 10px;
    }

    .userimage {
        border-radius: 100%;
        width: 25px;
        height: 20px;
        object-fit: cover;
    }
    .navuserdetails {
        width: 90px;
    }

}

@media screen and  ( max-width: 915px )
{
    .navsearchbox {
        width: 120px;
        height: 22px;
    }
}