.containerBody {
    height: auto;
    position: absolute;
    z-index: -1;
    top: 90px;
    background-color: #DDE4EE;
    transition: left 0.3s ease-in-out, width 0.3s ease-in-out;
}


@media screen and (max-width: 768px) {
    .containerBody {
        color: red !important;
    }
}

