.navbarMain {
    max-height: 100px;
    display: flex;
    align-items: center;
    border: 2px solid darkgray;
    justify-content: space-between;
}

.navbartitle {
    font-weight: 600;
    font-size: 14px;
    color: #E20917;
}
.navbarsubtitle {
    font-weight: 600;
    font-size: 12px;
    color: #002147;
}

@media screen and (max-width: 700px){
    .navbarMain {
        max-height: 70px;
        display: flex;
        align-items: center;
        border: 2px solid darkgray;
        justify-content: space-between;
    }
    .navbarmainlogo{
        width: 50px;
        height: 50px;
    }
    
    .navbartitle {
        font-size: 10px;
    }
    .navbarsubtitle {
        font-size: 8px;
    }

}

@media screen and (max-width: 900px){ 
    .navbarmainlogo{
        width: 70px;
        height: 70px;
    }
    .navbartitle {
        font-weight: 600;
        font-size: 12px;
        color: #E20917;
    }
    .navbarsubtitle {
        font-weight: 600;
        font-size: 10px;
        color: #002147;
    }

}