.sidebarMain{
    transition: width 0.3s ease-in-out;
    background-color: #002147;
    position: fixed;
    top: 90px;
}
.sidebox {
    background-color: rgba(217, 217, 217, 0.08);
    border-radius: 15px ;
}

.elementBox {
    width: 500px;
    display: flex; 
    justify-content: center;
    margin: 5px 0px;
    border-radius: 10px ;
}

.elementBox:hover{
    background-color: rgba(217, 217, 217, 0.08); 
}

.sidebarshowcase{
        max-height: 240px;
        transition: max-height 1s ease-in-out;
      }

.elementBox li {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebaricon {
    margin: 15px 0px;
}


.elementBox p {
    margin: 0px 10px;
    width: 120px;
}

.sidebarshowcase {
    transition: width 1s ease-in-out;
}

/* @media screen and (max-width: 700px){
    .sidebarMain {
            color: red;
            max-width: 60px;
    }
} */
